<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="/apiCalls.js" async></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1 id="dashboard-welcome-message">WELCOME TO YOUR DASHBOARD !!!</h1>
    <div class="dashboard-links">
      <button href="" onclick="fetchAlumni()">
        <p id="check-alumni">Check alumni</p>
      </button>
      <button href=""><p id="check-alumni">Check employers</p></button>
    </div>
    <div class="alumni-update-form">
      <p>Dean? Please enter username of alumnus to update details</p>
      <form action="" onsubmit="updateAlumni(event)">
        <label for="username">Alumnus Username :</label>
        <input type="text" name="username" id="username" required />

        <label for="grades">Select grade :</label>

        <input type="text" name="grade" list="grade" />
        <select id="grade">
          <option value="First-class honors"></option>
          <option value="Second-class(upper)"></option>
          <option value="Second-class(lower)"></option>
          <option value="Pass"></option>
        </select>

        <label for="availability">Change Availability :</label>
        <input type="text" name="availability" list="availability" />
        <select id="availability">
          <option value="Available"></option>
          <option value="Unavailable"></option>
        </select>

        <input type="submit" value="UPDATE" id="update-btn" />
      </form>
    </div>
  </body>
  <script>
    // api calls
    const fetchAlumni = () => {
      fetchAllAlumni()
        .then((_data) => console.log(_data))
        // TODO: display error to user through alert or error box at top of screen, use elemnent.classlist to show/hide
        .catch((_err) => console.log(_err));
    };
    const fetchEmployers = () => {
      fetchAllEmployers().then((_data) => console.log(_data));
    };
    const updateAlumni = (event) => {
      event.preventDefault();
      const username = document.getElementById("username").value;
      const grade = document.getElementById("grade").value;
      const availability = document.getElementById("availability").value;
      editAlumniDetails({ username, grade, availability })
        .then((_data) => console.log(_data))
        // TODO: display error to user through alert or error box at top of screen, use elemnent.classlist to show/hide
        .catch((_err) => console.log(_err));
    };
  </script>
</html>
