<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MKU Alumni Network</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="hero-section" role="img" aria-label="Image Description">
        <h1 id="welcome-heading">WELCOME TO MKU ALUMNI NETWORK</h1>
        <h2 id="welcome-message">let's connect you to your employer!!!</h2>
        <p id="category-title">Select your category below</p>
        <div class="categories">
            <p id="dean">School Dean</p>
            <p id="alumni">Alumni</p>
            <p id="employer">Employer</p>
        </div>
    </div>
</body>
</html>